* {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 98%;
  font-family: "Palatino", "Times", "Lucida Grande", serif;
  line-height: 1.4;
  background-color: #FFEFD5;
}

a {
  background-color: transparent;
  color: #eb6864;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

a:hover,
a:focus {
  color: #e22620;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #FF8777;
    margin: 1em 0; padding: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h1,
h4,
.h1,
.h4 {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}
h1,
.h1 {
  margin-top: 21px;
  margin-bottom: 10.5px;
}
h1 small,
.h1 small,
h1 .small,
.h1 .small {
  font-size: 65%;
}
h4,
.h4 {
  margin-top: 10.5px;
  margin-bottom: 10.5px;
}
h4 small,
.h4 small,
h4 .small,
.h4 .small {
  font-size: 75%;
}
h1,
.h1 {
  font-size: 39px;
}
h4,
.h4 {
  font-size: 19px;
}

p {
  margin: 0 0 10.5px;
}

.content {
  min-height: 98%;
  margin-bottom: -30px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;

}

.content:after {
  content: "";
  display: block;
}

.bottomli {
  display: inline;
  list-style-type: none;
}

.project {
  width: 400px;
}

.footer, .content:after {
  height: 30px;
}

.footer {
  text-align: center;
}

.bottomlinks {
  display: inline-block;

}

@media (min-width: 768px) {
  .content {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .content {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .content {
    width: 1170px;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 12px;
  font-size: 15px;
  line-height: 1.45;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #ffffff;
  background-color: #eb6864;
  border-color: #eb6864;
  font-family: Georgia;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #ffffff;
  background-color: #e53c37;
  border-color: #e4332e;
  text-decoration: none;
}