/* Custom CSS */
.redLetter {
  color: #660000;
}

.right {
  margin-left: auto;
}

.logo {
  width: auto;
  max-width: 100%;
  min-width: 100px;
  height: auto;
}

.jumbotron {
    background-image: url("./img/post-cover.jpg");
    -webkit-background-size: cover;
    background-size: cover;
}

.link {
  color: #007bff;
}

.date {
  font-size:80%;
  color:gray;
}

.content {
  font-size: 120%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  flex-grow: 1;
  margin-top: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imageSmall {
  width:50%;
  height:30%;
  border: 1px solid #000;
  border-radius: 4px;
}

.imageMedium {
  width:66%;
  height:50%;
  border: 1px solid #000;
  border-radius: 4px;
}

.imageLarge {
  width:72%;
  height:40%;
  border: 1px solid #000;
  border-radius: 4px;
}

.boxed {
  border: 1px solid #000;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
  font-size:80%;
  border-radius: 4px;
  border: 1px solid black ;
  background-color: #e6e6e6;
  padding: 1%;
  margin: 1%;
  overflow-wrap: break-word;
}

.mainPost {
  color: black;
}

.paragraphTitle {
  font-size: 120%;
}

.paragraphTitleSmall {
  font-size: 90%;
}

.tableSub {
  text-align:center;
  font-size:80%;
}

.tg {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/* Generic table */
.tg  {border-collapse:collapse;border-spacing:0;border-color:#ccc;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:12px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:12px 20px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0;}

/* A short hashing tale */
.tg .tg-xvrm{font-weight:bold;font-family:serif !important;}
.tg .tg-54if{font-weight:bold;font-size:100%;font-family:serif !important;}
.tg .tg-4eph{background-color:#f9f9f9}

/* Naive Bayes table 1 */
.tg .tg-yw4l{vertical-align:top}
.tg .tg-b7b8{background-color:#f9f9f9;vertical-align:top}

/* Naive Bayes table 2 */
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-dc35{background-color:#f9f9f9;border-color:inherit;vertical-align:top}
.tg .tg-us36{border-color:inherit;vertical-align:top}
.tg .tg-b7b8{background-color:#f9f9f9;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}



/* end Custom CSS*/

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  line-height: 1;
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
  .content {
    width: 95%;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
  .content {
    width: 95%;
  }
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

/*
 * Blog name and description
 */
.blog-title {
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: 400;
}
.blog-description {
  font-size: 1.1rem;
  color: #999;
}

@media (min-width: 40em) {
  .blog-title {
    font-size: 3.5rem;
  }
  .content {
    width: 95%;
  }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */
.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #999;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
